<form #myform="ngForm" (ngSubmit)="button_pressed_add_to_list(myform)" 
fxLayout="column" fxlayoutAlign="end" fxLayoutGap="2vw">

<mat-form-field>
    <input matInput name="Description" placeholder="Description" ngModel>
</mat-form-field>

<span>Priority:</span>
 <mat-radio-group name="Priority" ngModel>
    <mat-radio-button class="radio" value="3">High</mat-radio-button>
    <mat-radio-button class="radio" value="2">Medium</mat-radio-button>
    <mat-radio-button class="radio" value="1">Low</mat-radio-button>
</mat-radio-group>

<mat-form-field>
    <input matInput name="Due" placeholder="Due" ngModel>
</mat-form-field>
<div class="button-row" fxLayout="column" fxlayoutAlign="end" fxLayoutGap="2vw">
     <button mat-raised-button color="accent" type="submit">
         <mat-icon>add_circle</mat-icon>
      Add</button>
</div>



</form>
